{% extends 'base.html' %} {% comment %} Template of the main page, using the 'base.html' file {% endcomment %}
{% block title %}Articles{% endblock %}
{% block content %} {% comment %} Block that replace the same one from the base file {% endcomment %}

<h2 class="text-2xl font-semibold leading-tight pt-5 pb-5">Liste d'articles</h2>
<a class="bg-slate-500 hover:bg-slate-700 text-xs text-white font-medium inline-block mb-3 py-2 px-2 rounded-lg" href="{% url 'addArticle' %}">Ajouter un article</a>
<table id="articles-table" class="w-fill text-xs text-gray-700 text-left">
    <thead>
        <tr>
            <th class="px-2 py-2">Type</th>
            <th class="px-2 py-2">Categorie</th>
            <th class="px-2 py-2">Product</th>
            <th class="px-2 py-2">Article Name</th>
            <th class="px-2 py-2">Emprunté par</th>
            <th class="px-2 py-2">Description</th>
            <th class="px-2 py-2">Lieu de location</th>
            <th class="px-2 py-2">Date d'emprunt</th>
            <th class="px-2 py-2">Date de retour</th>
        </tr>
    </thead>
</table>
<script type="text/javascript">
    // Initialize the DataTables.net table
    $(document).ready(function() {
        $('#articles-table').DataTable({
            ajax: {
                url: '{% url 'jsondata' %}?table=t_article',  // URL to fetch the data from the view
                type: 'GET',
                dataSrc: ''
            },
            columns: [
            { data: 'fkProduct__fkType__typName' },
            { data: 'fkProduct__fkCategory__catName' },
            { data: 'fkProduct__proName' },
            { data: 'artName' },
            { data: 't_borrow__borUser__username' },
            { data: 'artNote' },
            { data: 't_borrow__borLocation' },
            { data: 'borDate_str' },
            { data: 'borReturnDate_str' },
                // Add more columns as needed
            ],
            // Customize row rendering
            "rowCallback": function(row, data) {
                // Check if article is borrowed
                if (data.borDate_str !== null && data.borReturnDate_str !== null) {
                    $(row).addClass('borrowed-bg');  // Apply CSS class for borrowed rows
                }else{
                    $(row).addClass('available-bg');  // Apply CSS class for available rows
                }
                $(row).addClass('clickable-row');  // Apply CSS class for available rows
                $(row).on('click', function() {
                    // Redirect to the detail page for the selected article
                    window.location.href = '/article?id=' + data.idArticle;
                });
            },
        });
    });
</script>

{% endblock content %}