{% load static %}
{% comment %} Base HTML file used as a base for any HTML page {% endcomment %}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<title>gestock</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link
		rel="icon"
		type="image/x-icon"
		href="{% static 'resources/favicon.svg' %}"
		/>
	</head>
<body>
	{% comment %} Block will be replaced with content from other pages{% endcomment %}
	{% block content %}
	{% endblock %}
</body>
</html>