{% extends 'base.html' %} {% comment %} Template of the main page, using the 'base.html' file {% endcomment %}
{% block title %}Emprunts{% endblock %}
{% block content %} {% comment %} Block that replace the same one from the base file {% endcomment %}
{%block emprunts%}{%endblock%}

<h2 class="text-2xl font-semibold leading-tight pt-5 pb-5">Mes emprunts</h2>
<table id="myBorrows-table" class="table-auto compact text-xs text-gray-700 text-left">
    <thead>
        <tr>
            <th class="px-2 py-2">Type</th>
            <th class="px-2 py-2">Categorie</th>
            <th class="px-2 py-2">Produit</th>
            <th class="px-2 py-2">Label</th>
            <th class="px-2 py-2">Lieu de location</th>
            <th class="px-2 py-2">Description</th>
            <th class="px-2 py-2">Date d'emprunt</th>
            <th class="px-2 py-2">Date de retour</th>
        </tr>
    </thead>
</table>
<h2 class="text-2xl font-semibold leading-tight pt-5 pb-5">Tout les emprunts</h2>
<table id="borrows-table" class="table-auto compact text-xs text-gray-700 text-left">
    <thead>
        <tr>
            <th class="px-2 py-2">Type</th>
            <th class="px-2 py-2">Categorie</th>
            <th class="px-2 py-2">Produit</th>
            <th class="px-2 py-2">Label</th>
            <th class="px-2 py-2">Emprunté par</th>
            <th class="px-2 py-2">Lieu de location</th>
            <th class="px-2 py-2">Description</th>
            <th class="px-2 py-2">Date d'emprunt</th>
            <th class="px-2 py-2">Date de retour</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    // Initialize the DataTables.net table
    $(document).ready(function() {
        $('#myBorrows-table').DataTable({
            scrollX: true,
            order: [[6, 'desc']],
            ajax: {
                url: '{% url 'jsondata' %}?table=t_borrow',  // URL to fetch the data from the view
                type: 'GET',
                dataSrc: ''
            },
            columns: [
            { data: 'fkArticle__fkProduct__fkType__typName' },
            { data: 'fkArticle__fkProduct__fkCategory__catName' },
            { data: 'fkArticle__fkProduct__proName' },
            { data: 'fkArticle__artName' },
            { data: 'borLocation' },
            { data: 'fkArticle__artNote' },
            { data: 'borDate_str' },
            { data: 'borReturnDate_str' },
            // Add more columns as needed
            ],
            // Customize row rendering
            "rowCallback": function(row, data) {
                // Check if article is borrowed
                if (data.borUser__username != '{{ request.user.username }}') {
                    $(row).hide();   // Apply CSS class for borrowed rows
                }
            },
        }),
        $('#borrows-table').DataTable({
            scrollX: true,
            order: [[6, 'desc']],
            ajax: {
                url: '{% url 'jsondata' %}?table=t_borrow',  // URL to fetch the data from the view
                type: 'GET',
                dataSrc: ''
            },
            columns: [
            { data: 'fkArticle__fkProduct__fkType__typName' },
            { data: 'fkArticle__fkProduct__fkCategory__catName' },
            { data: 'fkArticle__fkProduct__proName' },
            { data: 'fkArticle__artName' },
            { data: 'borUser__username' },
            { data: 'borLocation' },
            { data: 'fkArticle__artNote' },
            { data: 'borDate_str' },
            { data: 'borReturnDate_str' },
            // Add more columns as needed
            ],
            // Customize row rendering
            "rowCallback": function(row, data) {
                // Check if article is borrowed
                if (data.borUser__username == '{{ request.user.username }}') {
                    $(row).addClass('user-bg');   // Apply CSS class for borrowed rows
                }
            },
        });
    });
</script>

{% endblock content %}